@use '../../../assets/styles/radius.scss' as Radius;
@use '../../../assets/styles/shadows.scss' as Shadows;

.avatar {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  overflow: hidden;

  @include Radius.round;
  @include Shadows.inner-shadow;

  &--sm {
    font-size: 16px;
    height: 48px;
    min-width: 48px;
    width: 48px;
  }

  &--md {
    font-size: 20px;
    height: 72px;
    min-width: 72px;
    width: 72px;
  }

  &--lg {
    font-size: 28px;
    height: 196px;
    min-width: 196px;
    width: 196px;
  }
}
