@use "../../../assets/styles/colors.scss" as *;

.avatar {
  border-radius: 8px;
  display: block;

  &_bkg {
    background-image: linear-gradient(140deg, var(--avatar-bg-color) 65%, $color-white);
    color: $color-white;
    font-weight: bold;
  }
}
