@use '../../components/atoms/title/styles.scss' as Title;
@use '../../components/atoms/button/styles.scss' as Button;
@use '../../components/atoms/link/styles.scss' as Link;
@use '../../components/molecules/form/styles.scss' as Form;
@use '../../assets/styles/colors.scss' as Colors;
@use '../../components/atoms/sphere/styles.scss' as Sphere;
@use '../../assets/styles/shadows.scss' as Shadows;
@use '../../assets/styles/radius.scss' as Radius;

.sign-page {
  display: grid;
  gap: 1rem;
  grid-template-columns: minmax(0, 1fr) 1fr;

  .sphere-wrapper {
    grid-column: 1/2;
  }

  .sphere {
    cursor: none;
    max-width: 620px;
    width: 100%;
  }

  &__content {
    align-items: center;
    display: flex;
    grid-column: 2/3;
    justify-content: center;
  }

  .form-wrapper {
    align-items: center;
    background-color: Colors.$color-background-main;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 450px;
    padding: 32px;
    width: 100%;

    @include Shadows.outer-shadow;
    @include Radius.round-1-5;

    .sign-form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &__btn-group {
        display: flex;
        gap: 16px;
      }
    }
  }

  @media (width <= 576px) {
    grid-template-columns: 1fr;
    position: relative;

    .sphere-wrapper {
      bottom: -30%;
      grid-column: 1/2;
      position: absolute;
      width: 100%;
      z-index: 0;
    }

    &__content {
      grid-column: 1/2;
      z-index: 1;
    }
  }
}
