@use '../../../assets/styles/colors.scss' as Colors;

.sphere-wrapper {
  background: Colors.$color-background-main;
  display: grid;
  place-items: center;

  .sphere {
    aspect-ratio: 1;
    background: Colors.$color-accent-lime;
    border-radius: 50%;
    box-shadow:
      inset 10px 10px 25px rgb(0 0 0 / 25%),
      inset 1px 4px 4px rgb(99 0 251 / 25%),
      inset -10px -10px 25px rgb(255 255 255 / 90%),
      0 0 10px rgb(99 0 251 / 25%);
    transition: box-shadow 0.3s ease, transform 0.3s ease-in-out;

    &:hover {
      box-shadow:
        inset 10px 10px 30px rgb(0 0 0 / 25%),
        inset 1px 4px 10px rgb(99 0 251 / 25%),
        inset -10px -10px 30px rgb(255 255 255 / 90%),
        0 0 40px Colors.$color-accent-lime,
        0 0 45px rgb(99 0 251 / 25%);
      transform: scale(0.97);
    }
  }
}
