<div class="nav-block-wrapper">
	{{> Image alt="stars" className="nav-block-image" src="/stars.png"}}
	<ul class="nav-block">
		{{#each links}}
			<li class="nav-block__item">
				{{#link className="link_text" id=id path=path}}{{title}}{{/link}}
			</li>
		{{/each}}
	</ul>
</div>
