@use '../../components/atoms/avatar/styles.scss' as Avatar;
@use '../../components/atoms/input/styles.scss' as Input;
@use '../../components/atoms/button/styles.scss' as Button;
@use '../../components/atoms/link/styles.scss' as Link;
@use '../../components/molecules/form/styles.scss' as Form;

.settings-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 72px;
  justify-content: center;

  .settings-form {
    max-width: 600px;
  }

  .avatar {
    cursor: pointer;
  }
}
