@use '../../../assets/styles/colors.scss' as Colors;
@use '../../../assets/styles/shadows.scss' as Shadows;
@use '../../../assets/styles/radius.scss' as Radius;

.input {
  background-color: Colors.$color-background-main;
  border: 1px solid Colors.$color-background-main;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  line-height: 1.25rem;
  outline: 2px solid Colors.$color-transparent;
  outline-offset: 2px;
  padding: 0.5rem 1rem;
  width: 100%;

  @include Radius.round-1;
  @include Shadows.inner-shadow;

  &.error {
    border-color: Colors.$color-error;
  }
}

.input-error {
  color: Colors.$color-error;
  font-size: 12px;
  margin-top: 4px;

  &.hidden {
    display: none;
  }

  &.visible {
    display: block;
  }
}
