@use '../../../assets/styles/colors.scss' as Colors;
@use '../../../assets/styles/shadows.scss' as Shadows;
@use '../../../assets/styles/radius.scss' as Radius;

.btn {
  background-color: Colors.$color-accent-purple-half;
  color: Colors.$color-background-main;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;

  @include Shadows.outer-shadow;
  @include Radius.round-1;

  &:hover {
    background-color: Colors.$color-accent-purple;
  }

  &_icon {
    fill: Colors.$color-background-main;
  }
}
