.btn {
  border: none;
  border-radius: 8px;

  &_medium {
    padding: 12px;
  }

  &_primary {
    background-color: #e090c8;
    color: #ffffff;

    &:hover {
      background-color: #d47ab8;
    }

    &:active {
      background-color: #c463a6;
    }
  }

  &_secondary {
    background-color: #f3d6e6;
    color: #e090c8;

    &:hover {
      background-color: #e7bad6;
    }

    &:active {
      background-color: #dca1c2;
    }
  }
}
