$color-background-main: #e9eef5;
$color-accent-lime: #9fc131;
$color-accent-purple: #6131c1;
$color-accent-purple-half: rgb(97 48 194 / 50%);
$color-transparent: rgb(255 255 255 / 0%);
$color-light-shadow: #fafbff;
$color-dark-shadow: rgb(21 26 28 / 23%);
$color-primary-text: #1a1a1a;
$color-secondary-text: #6c757d;
$color-error: #e53935;
