$scroll-thumb-color: #bf857a;
$scroll-thumb-hover-color: #BF857AFF;
$scroll-track-color: #f0f0f0;
$color-white: #ffffff;
$color-primary-pink: #e090c8;
$color-secondary-pink: #f3d6e6;
$color-hover-primary-pink: #d47ab8;
$color-active-primary-pink: #c463a6;
$color-hover-secondary-pink: #e7bad6;
$color-active-secondary-pink: #dca1c2;
$color-primary-tomato: #FF6347FF;
$color-secondary-tomato: #FF6347FF;
$color-primary-text: #1a1a1a;
$color-secondary-text: #6c757d;
$color-snow: #FFFAFAFF;
