@use './reset.scss' as *;
@use './colors.scss' as Colors;
@use '../../components/atoms/text/styles.scss' as Text;
@use '../../pages/sign/styles.scss' as SignPage;
@use '../../pages/error/styles.scss' as ErrorPage;
@use '../../pages/chats/styles.scss' as ChatPage;
@use '../../pages/settings/styles.scss' as SettingsPage;
@use '../../components/organisms/navBlock/styles.scss' as NavBlock;

.scrollable {
  scrollbar-color: #bdbdbd transparent;
  scrollbar-width: none;
}

body {
  background-color: Colors.$color-background-main;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.visually-hidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

[id='app'] {
  display: grid;
  grid-template-rows: 60px auto;
  height: 100vh;

  @supports (height: 100dvh) {
    height: 100dvh;
  }
}

.page {
  height: 100%;
  overflow: hidden;
  padding: 1.5rem;
  width: 100%;
}
